.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40rem;
  background-color: #1f1f1f1d;
}

.home__body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 25px 0;
  gap: 50px;
}

.home__body-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 300px;
  padding: 10px;
}

.home__body-img-container-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
  gap: 10px;
  color: white;
  border-radius: 20px;
  padding: 10px;
}

.home__body-img-container-text-title {
  font-size: 1.75em;
  margin: 0;
}

.home__body-img-container-text-subtitle {
  font-size: 1.2em;
  font-weight: 300;
  opacity: 0.7;
  margin: 0;
}

.home__image {
  max-height: 350px;
  height: 100%;
  width: 250px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 50px;
  display: block;
}

.home__description {
  max-width: 500px;
  text-align: center;
  margin: 20px;

  font-size: 1.2em;
  line-height: 1.6;
  border: 1px solid #1f1f1f;
  border-radius: 50px;
  padding: 20px;
  color: rgba(255, 255, 255, 0.9);
  background-color: #282c34;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.home__project-preview-title {
  opacity: 0.5;
  margin: 0;
}

.bobbing-arrow {
  animation: bob 1s infinite alternate;
}

@keyframes bob {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}

@media (max-width: 1000px) {
  .home {
    height: 100%;
  }
  .home__body {
    flex-direction: column;
    margin-top: 95px;
  }

  .home__project-preview-title {
    font-size: 1rem;
    margin-bottom: 10px;
  }
}
