.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #282c34;
  color: white;
  padding: 20px;
  height: 100px;
}

.header__title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header__title-typing {
  font-size: 2.5em;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header__logo {
  width: 100px;
  border-radius: 100px;
  margin-left: 25px;
  margin-right: 75px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.header__logo-container {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header__buttons {
  width: 200px;
  display: flex;
  justify-content: space-around;
}

.header__button {
  border: none;
  color: #282c34;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  padding: 10px 20px;
}

.header__button:hover {
  background-color: #282c34;
  transform: scale(1.1);
  color: white;
  border: 1px solid white;
  box-shadow: 0 0 10px rgba(123, 122, 122, 0.5);
  transition: all 0.5s ease;
}

.header__contact {
  position: absolute;
  top: 100px;
  right: 20px;
}
