.email__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 100vw;
  height: 90vh;
  margin: auto;
  background-color: #1f1f1f1d;
  padding: 0 75px;
  box-sizing: border-box;
}

.email__form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  width: 100%;
  height: 100%;
  max-height: 450px;
  background-color: #282c34;
  color: white;
  border-radius: 50px;
  padding: 50px;
}

.email__form-container-input {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-bottom: 10px;
}

.email__form-container-info-input {
  max-width: 250px;
  height: 30px;
  border-radius: 100px;
  border: none;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #1f1f1f6f;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  border: 1px solid white;
}

.email__form-container-info-input-title {
  max-width: 525px;
  width: 100%;
  margin-bottom: 15px;
}

.email__form-contaniner-text-input {
  width: 90%;
  height: 100px;
  border-radius: 25px;
  border: none;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #1f1f1f6f;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  border: 1px solid white;
}

.email__form-container-button {
  border: none;
  color: #282c34;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 10px;
}

@media (max-width: 750px) {
  .email__form-container-input {
    transform: scale(0.85);
  }
}

@media (max-width: 650px) {
  .email__form-container-input {
    transform: scale(0.75);
  }
  .email__title {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .email__form-container-input {
    transform: scale(0.55);
  }
}
